/* # Cores 

cinza: #f7f7f7
cinza-escuro: #c6c6c6
vermelho: #ee2211

# Tipografia 

fonte: Arial
paragrafos: 20px
Vatagens Bikcraft: 64px

# Tamanhos

conteúdo principal: maximo 1000px */

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #f7f7f7;
	margin-top: 60px;

	display: grid;
	justify-items: center;
	gap: 60px;
}

img {
	max-width: 100%;
}

a {
	background: #fff;
	text-decoration: none;
	padding: 15px 30px;
	border-radius: 4px;
	color: #000000;
	text-transform: uppercase;
}

.menu {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.conteudo {
	width: 1000px;
	max-height: 1000px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.conteudo img {
	border-top-right-radius: 5px;
}

.botao {
	background: #ee2211;
	color: #fff;
}

p {
	font-size: 20px;
}

.subtitulo {
	color: #c6c6c6;
	font-size: 64px;
	padding: 40px;
	display: grid;
	text-align: right;
}

.introducao {
	background: #fff;
	padding: 40px;
	text-align: right;
	display: grid;
	gap: 20px;
	justify-items: end;
	align-content: center;
	border-top-left-radius: 5px;
}

.vantagens {
	padding: 40px;
	gap: 20px;
	background: #fff;
	border-bottom-right-radius: 5px;
}

.vantagens-items {
	padding: 20px;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px 20px;
	/* background-color: #f90; */
	align-items: center;
}

.vantagens-items p {
	grid-column: 2;
}

p,
h1,
h2,
h3 {
	margin: 0px;
}

.rodape {
	padding: 40px;
	background: #fff;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}
